{% comment %}
  Renders a set of links for paginated results. Must be used within paginate tags.

  Usage:
  {% paginate results by 2 %}
    {% render 'pagination', paginate: paginate, anchor: '#yourID' %}
  {% endpaginate %}

  Accepts:
  - paginate: {Object}
  - anchor: {String} (optional) This can be added so that on page reload it takes you to wherever you've placed your anchor tag.
{% endcomment %}

<div class="pagination-wrapper">
  <nav class="pagination">
    <ul class="pagination__list" role="list">
      <li>
        <a href="#" class="pagination__arrow pagination__arrow--prev">
          <span class="svg-wrapper">
            {{- 'icon-carrot.svg' | inline_asset_content -}}
          </span>
        </a>
      </li>
      <li>
        <a href="#" class="pagination__item pagination__item--active"><span>1</span></a>
      </li>
      <li>
        <a href="#" class="pagination__item"><span>2</span></a>
      </li>
      <li>
        <a href="#" class="pagination__item"><span>3</span></a>
      </li>
      <li>
        <a href="#" class="pagination__item"><span>4</span></a>
      </li>
      <li>
        <a href="#" class="pagination__item"><span>5</span></a>
      </li>
      <li>
        <a href="#" class="pagination__arrow pagination__arrow--next">
          <span class="svg-wrapper">
            {{- 'icon-carrot.svg' | inline_asset_content -}}
          </span>
        </a>
      </li>
      <li>
        <a href="#" class="pagination__item pagination__item--last">
          <span class="svg-wrapper">
            {{- 'icon-double-arrow.svg' | inline_asset_content -}}
          </span>
        </a>
      </li>
    </ul>
  </nav>
</div>
