{% comment %}
  Renders a set of links for paginated results. Must be used within paginate tags.

  Usage:
  {% paginate results by 2 %}
    {% render 'pagination', paginate: paginate, anchor: '#yourID' %}
  {% endpaginate %}

  Accepts:
  - paginate: {Object}
  - anchor: {String} (optional) This can be added so that on page reload it takes you to wherever you've placed your anchor tag.
{% endcomment %}

<div class="pagination-wrapper">
  <nav class="pagination">
    <ul class="pagination__list list-unstyled" role="list">
      <li>
        <a
          href=""
          class="pagination__item pagination__item--next pagination__item-arrow"
        >
          <span class="svg-wrapper">
            {{- 'icon-caret.svg' | inline_asset_content -}}
          </span>
        </a>
      </li>
      <a
        href="#"
        class="pagination__item"
      >
        <span>1</span>
      </a>
      <li>
        <a href="" class="pagination__item pagination__item--prev pagination__item-arrow">
          <span class="svg-wrapper">
            {{- 'icon-caret.svg' | inline_asset_content -}}
          </span>
        </a>
      </li>
    </ul>
  </nav>
</div>
