@use '../utilities/mx' as mx;

.pill-button {
    width: 100%;
    max-width: fit-content;
    min-height: 25px;
    height: 25px;
    display: flex;
    gap: 8px;
    align-items: center;
    position: relative;
    background-color: var(--clr-black);
    padding: 12px;
    margin-bottom: 5px;

    &:hover {
        .pill-button__text {
            color: var(--clr-red);
        }

        .pill-button__pill {
            transform: translateX(10px)
        }
    }

    &__text {
        @include mx.font-source-sans(--font-family-1, --theme-font-h3-mob-4, --clr-white, false, 32px);
        margin: 0;
        transition: all 0.6s ease-in-out;
    }

    &__icon {
        opacity: 1;
        transition: all 0.6s ease-in-out;
        z-index: 1;

        path {
            fill: var(--clr-white);
        }

        svg {
            width: 10px;
            height: 10px;
        }

        path {
            fill: var(--clr-white);
        }
    }

}