@use '../utilities/mx' as mx;

.quantity-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;

    .quantity {
        display: flex;
        text-align: center;
        gap: 0 15px;
        width: 100%;

        &.out {
            opacity: 0.4;

            &,
            * {
                cursor: not-allowed;
            }

            input {
                pointer-events: none;
            }
        }

        input {
            @include mx.font-source-sans(--font-family-1, --theme-font-h2-mob-2, --clr-smoke-2, false, 30px);
            max-width: 100px;
            text-align: center;
            border: none;
        }

        button {
            border: none;
            background-color: transparent;
            cursor: pointer;
        }
    }

    .stock {
        display: flex;
        justify-content: space-between;
        width: 100%;

        p {
            @include mx.font-source-sans(--font-family-1, --theme-font-p-mob-3, --clr-smoke-2, false, 30px);

            &:nth-of-type(2) {
                font-family: var(--font-family-2);
                opacity: 0.3;
            }

            &.out {
                opacity: 0.5;
            }
        }

        .sep {
            width: 1px;
            height: 32px;
            background-color: var(--clr-smoke-2);
            opacity: 0.3;
        }
    }
}