@use '../utilities/mx' as mx;

.quantity-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;

    @include mx.mq('desktop-medium', max) {
        flex-direction: column;
        margin-top: 40px;
    }

    .quantity {
        display: flex;
        text-align: center;
        gap: 0 15px;
        width: 100%;

        @include mx.mq('desktop-medium', max) {
            justify-content: space-between;
            gap: 0;
        }

        &.out {
            opacity: 0.4;

            &,
            * {
                cursor: not-allowed;
            }

            input {
                pointer-events: none;
            }
        }

        input {
            @include mx.font-source-sans(--font-family-1, --theme-font-h2-mob-2, --clr-smoke-2, false, 30px);
            line-height: 30px;
            max-width: 60px;
            text-align: center;
            border: none;

            @include mx.mq('desktop-medium', max) {
                max-width: none;
                min-width: 0px;
            }
        }

        button {
            border: none;
            background-color: transparent;
            cursor: pointer;

            svg {
                max-width: 16px;
            }
        }
    }

    .stock {
        display: flex;
        justify-content: space-between;
        width: 100%;

        p {
            @include mx.font-source-sans(--font-family-1, --theme-font-p-mob-5, --clr-smoke-2, false, 30px);

            &:nth-of-type(2) {
                font-family: var(--font-family-2);
                opacity: 0.3;
            }

            &.out {
                opacity: 0.5;
            }
        }

        .sep {
            width: 1px;
            height: 32px;
            background-color: var(--clr-smoke-2);
            opacity: 0.3;

            @include mx.mq('desktop-medium', max) {
                display: none;
            }
        }
    }
}