@use '../utilities/mx' as mx;

.main-product-wrapper {

    .container {
        @include mx.mq('desktop', max) {
            max-width: 960px;
        }
    }

    .product {
        padding-top: 40px;

        @include mx.mq('desktop', max) {
            padding-top: 0;
        }


        .swiper {
            margin: 0;
        }

        .swiper-pagination-bullet {
            &-active {
                background: var(--clr-red);
            }
        }

        .swiper-group-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 25px;
            overflow: hidden;
            height: 826px;

            @include mx.mq('desktop', max) {
                flex-direction: column-reverse;
                align-items: stretch;
                justify-content: flex-start;
                height: auto;
            }

            &.left {
                flex-direction: row;

                @include mx.mq('desktop', max) {
                    flex-direction: column-reverse;
                }
            }

            &.right {
                flex-direction: row-reverse;

                @include mx.mq('desktop', max) {
                    flex-direction: column-reverse;
                }
            }

            &.bottom {
                flex-direction: column-reverse;
                align-items: stretch;
                justify-content: flex-start;
                height: auto;

                .product-swiper--support {
                    .slider-controller__next-button {
                        max-width: 35px;
                        top: 0;
                        right: 0;

                        svg {
                            transform: rotate(-90deg);
                        }
                    }

                    img {
                        height: auto;
                    }
                }
            }
        }

        &__info {
            &--desktop {

                h2 {
                    @include mx.mq('desktop', max) {
                        display: none;
                    }
                }
            }
        }

        .product-media-grid {
            display: grid;
            grid-gap: 12px;
            grid-template-columns: 1fr 1fr;

            &-img {
                img {
                    width: 100%;
                    height: auto;
                }

                &--double {
                    grid-column: span 1;
                }

                &--single {
                    grid-column: span 2;
                }
            }
        }


        .product-swiper {
            height: 100%;
            cursor: pointer;

            &__slide {
                width: 100%;

                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    object-position: center;
                }
            }

            .slider-controller {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                border: none;
                z-index: 1;
                background: var(--clr-grey);

            }

            &--main {
                position: relative;
                max-width: none;


                .slider-controller {
                    top: 50%;
                    border-radius: 50%;
                    padding: 20px;
                    margin: 10px;

                    @include mx.mq('tablet', max) {
                        padding: 10px;
                    }
                }

                .slider-controller__next-button {
                    right: 0;
                }

                .slider-controller__prev-button {
                    left: 0;

                    svg {
                        transform: rotate(180deg);
                    }
                }

                img {
                    height: 826px;

                    @include mx.mq('desktop', max) {
                        height: auto;
                    }
                }
            }



            &--support {
                min-width: 237px;


                .swiper-slide {
                    max-height: 262px;
                    opacity: 0.25;
                    transition: opacity 0.125s ease-in-out;

                    &.swiper-slide-thumb-active {
                        opacity: 1;
                    }
                }

                img {
                    width: 100%;
                    height: 262px;

                    @include mx.mq('desktop', max) {
                        height: auto;
                    }
                }

                .slider-controller__next-button {
                    bottom: 0;
                    width: 100%;
                    padding: 5px 0;

                    @include mx.mq('desktop', max) {
                        max-width: 35px;
                        top: 0;
                        right: 0;

                        svg {
                            transform: rotate(-90deg);
                        }
                    }
                }

                // @include mx.mq('desktop', max) {
                //     display: none;
                // }
            }
        }

        h3 {
            letter-spacing: 4.3px;
            text-transform: uppercase;

            @include mx.mq('desktop-medium') {
                margin-bottom: 19px;
            }
        }

        h2 {
            margin-bottom: 10px;
            text-transform: capitalize;

            @include mx.mq('desktop-medium') {
                @include mx.font-source-sans(--font-family-1, --theme-font-h2-mob-2-1, --clr-smoke-2, false, 44px);
            }
        }

        p {
            &.price {
                margin-bottom: 10px;
                @include mx.font-source-sans(--font-family-1, --theme-font-p-mob-3, --clr-red, false, 30px);

                @include mx.mq('desktop-medium') {
                    margin: 25px 0;
                }

                @include mx.mq('desktop', max) {
                    margin: 30px 0;
                }
            }
        }

        .desc {
            p {
                margin-bottom: 20px;
                @include mx.font-source-sans(--font-family-2, --theme-font-p-mob-3, --clr-smoke-2, false, 30px, 0px);

                @include mx.mq('desktop-medium') {
                    margin-bottom: 51px;
                }
            }
        }
    }

    .varient-options {
        display: flex;
        justify-content: space-between;
        gap: 0 15px;

        @include mx.mq('desktop-medium', max) {
            flex-direction: column;
        }

        .wrapper {
            width: 100%;
        }

        &__size,
        &__gender {
            display: grid;
            gap: 10px;
            width: 100%;
            max-width: none;
            margin: 10px 0;

            @include mx.mq('desktop-medium', max) {
                max-width: none;
            }
        }

        &__size {
            grid-template-columns: 1fr 1fr 1fr;

        }

        &__gender {
            grid-template-columns: 1fr;

            @include mx.mq('desktop', max) {
                grid-template-columns: 1fr 1fr;
            }
        }

        p {
            &.option-title {
                @include mx.font-source-sans(--font-family-1, --theme-font-p-mob-3, --clr-smoke-2, false, 30px);
            }
        }

        .button.button--outline {
            padding: 5px 0px;
            width: auto;
            border: 2px solid rgb(48 48 48 / 20%);
            max-width: none;
            width: 100%;

            span {
                color: var(--clr-smoke-2);
            }

            &:hover,
            &.active {
                span {
                    color: var(--clr-white);
                }
            }

            &:after {
                background: var(--clr-smoke-2);
            }

            &.active:after {
                transform: translate(0);
            }
        }
    }

    .product-options-wrapper,
    .container,
    .row,
    .col-12 {
        overflow: visible !important;
    }

}